@using Domain.BlogDomain

<div class="d-flex">
    @for (int i = 0; i < AmountOfStars; i++)
    {
        var isFilled = shouldFillStar(i);
        int index = i + 1;

        <div class="action">
            <i @onclick="@(() => @Rate(index))" class="@isFilled"></i>
        </div>

    }
</div>

@code {

    [Parameter]
    public int RatingAmount { get; set; } = 0;

    [Parameter]
    public int AmountOfStars { get; set; } = 5;

    [Parameter]
    public EventCallback<int> OnRating { get; set; }

    private string shouldFillStar(int index)
    {
        return index < RatingAmount ? "bi bi-star-fill" : "bi bi-star";
    }

    public async Task Rate(int i)
    {

        await OnRating.InvokeAsync(i);
    }

}