@using BlogPlatform.Components.States
@using BlogPlatform.Services.Contracts
@using Domain.BlogDomain
@inject IClientBlogService BlogService
<div class="container">

    <h5>Blogs</h5>

    @if (blogs is null)
    {
        <LoadingState />
    }
    else if (!blogs.Any())
    {
        <p><em>Currently no blogs exist!</em></p>
    }
    else
    {
        @foreach (var blog in blogs)
        {
            <SingleBlog Blog="@blog" onDeleteBlog="handleBlogDeleted" />
        }
    }

</div>

@code {

    private IEnumerable<Blog>? blogs;
    protected override async Task OnInitializedAsync()
    {

        blogs = (await BlogService.GetBlogsAsync());
    }

    private async Task handleBlogDeleted()
    {
        blogs = (await BlogService.GetBlogsAsync());
    }
}
