@using BlogPlatform.Components.States
@using BlogPlatform.Services.Contracts
@using Domain.BlogDomain
@inject IClientBlogService BlogService
<div class="container">

    <h5>Blogs</h5>

    @if (Blogs is null)
    {
        <LoadingState />
    }
    else if (!Blogs.Any())
    {
        <p><em>Currently no blogs exist!</em></p>
    }
    else
    {
        @foreach (var blog in Blogs)
        {
            <SingleBlog Blog="@blog" OnDeleteBlog="HandleBlogDeleted" />
        }
    }

</div>

@code {

    public IEnumerable<Blog>? Blogs;

    protected override async Task OnInitializedAsync()
    {

        Blogs = (await BlogService.GetBlogsAsync());
    }

    private async Task HandleBlogDeleted()
    {
        Blogs = (await BlogService.GetBlogsAsync());
    }
}
