@page "/blog/create"
@using BlogPlatform.Services
@using Domain.BlogDomain
@inject ClientBlogService BlogService
@inject NavigationManager NavigationManager
@using System.ComponentModel.DataAnnotations

<PageTitle>Create blog</PageTitle>

<EditForm Model="@blog" OnValidSubmit="PostBlog" FormName="CreateBlog">

    <DataAnnotationsValidator />

    <div class="container">
        <h3>Create Blog</h3>
        <div class="form-group">
            <div class="col-sm">
                <div class="row">
                    <label for="title" class="col-sm-2 col-form-label">Blog title</label>
                    <InputText id="title" class="form-control" placeholder="Enter your blog title..."
                        @bind-Value="blog.Title" />
                    <ValidationMessage For="@(() => blog.Title)" />
                </div>

                <div class="row">
                    <label for="content" class="col-sm-2 col-form-label">Blog content</label>
                    <InputTextArea id="content" class="form-control" rows="10"
                        placeholder="Begin writing your blog content..." @bind-Value="blog.Content" />
                    <ValidationMessage For="@(() => blog.Content)" />
                </div>
            </div>
            <div class="row mt-3">
                <div class="col">
                    <button type="submit" class="btn btn-primary">Create Blog</button>
                </div>
            </div>
        </div>
    </div>
</EditForm>


@code {

    [SupplyParameterFromForm]
    private Blog? blog { get; set; }

    protected override void OnInitialized() => blog ??= new();

    private async Task PostBlog()
    {

        await BlogService.PostBlogAsync(blog);

        // redirect to home page
        NavigationManager.NavigateTo("/");

    }

}
