@page "/blog/create"
@using BlogPlatform.Services.Contracts
@using Domain.BlogDomain
@inject IClientBlogService BlogService
@inject NavigationManager NavigationManager
@using System.ComponentModel.DataAnnotations
@inject IToastService ToastService
<PageTitle>Create blog</PageTitle>

<EditForm Model="@Blog" OnValidSubmit="PostBlog" FormName="CreateBlog">

    <DataAnnotationsValidator />

    <div class="container">
        <h3>Create Blog</h3>
        <div class="form-group">
            <div class="col-sm">
                <div class="row">
                    <label for="title" class="col-sm-2 col-form-label">Blog title</label>
                    <InputText id="title" class="form-control" placeholder="Enter your blog title..."
                        @bind-Value="Blog.Title" />
                    <ValidationMessage For="@(() => Blog.Title)" />
                </div>

                <div class="row">
                    <label for="content" class="col-sm-2 col-form-label">Blog content</label>
                    <InputTextArea id="content" class="form-control" rows="10"
                        placeholder="Begin writing your blog content..." @bind-Value="Blog.Content" />
                    <ValidationMessage For="@(() => Blog.Content)" />
                </div>
            </div>
            <div class="row mt-3">
                <div class="col">
                    <button type="submit" class="btn btn-primary">Create Blog</button>
                </div>
            </div>
        </div>
    </div>
</EditForm>


@code {

    [SupplyParameterFromForm]
    public Blog Blog { get; set; }

    protected override void OnInitialized() => Blog ??= new();

    private async Task PostBlog()
    {

        await BlogService.PostBlogAsync(Blog);

        ToastService.ShowSuccess("Blog created successfully!");

        NavigationManager.NavigateTo("/");

    }

}
