@page "/blog/view/{id:int}"
@using BlogPlatform.Components.Pages.BlogPage.BaseComponents
@using BlogPlatform.Components.States
@using Domain.BlogDomain
@using BlogPlatform.Services.Contracts
@inject IClientBlogService blogService
@inject NavigationManager navigationManager
@inject IToastService toastService

<PageTitle>View blog</PageTitle>

<div class="container">

    <h3>Blog</h3>

    <div class="row">

        @if (@blog is null)
        {
            <LoadingState />
        }
        else
        {
            <div class="mb-3">
                <SingleBlog blog="@blog" onDeleteBlog="handleBlogDeleted" />
            </div>
            <div>
                <BlogCommentSection comments="@comments" onDeleteComment="handleCommentDeleted" />
            </div>
        }
    </div>

    <div class="row">
        <AddComment blogId="@id" OnCommentAdded="handleCommentAdded" />
    </div>
</div>

@code {

    [Parameter]
    public int id { get; set; }
    private Blog blog { get; set; }

    private ICollection<Comment> comments { get; set; }

    protected override async Task OnInitializedAsync()
    {
        blog = await blogService.GetBlogAsync(id);

        if (blog.Comments is not null)
        {
            comments = blog.Comments;
        }
    }

    private async Task handleCommentAdded()
    {
        blog = await blogService.GetBlogAsync(id);

        comments = blog.Comments;

    }

    private async Task handleCommentDeleted()
    {
        blog = await blogService.GetBlogAsync(id);

        comments = blog.Comments;

    }

    private void handleBlogDeleted()
    {
        navigationManager.NavigateTo("/");
    }
}