@page "/blog/view/{id:int}"
@using BlogPlatform.Components.Pages.BlogPage.BaseComponents
@using BlogPlatform.Components.States
@using Domain.BlogDomain
@using BlogPlatform.Services.Contracts
@inject IClientBlogService BlogService
@inject NavigationManager NavigationManager

<PageTitle>View blog</PageTitle>

<div class="container">

    <h3>Blog</h3>

    <div class="row">

        @if (@blog is null)
        {
            <LoadingState />
        }
        else
        {
            <div class="mb-3">
                <SingleBlog blog="@blog" OnDeleteBlog="HandleBlogDeleted" />
            </div>
            <div>
                <BlogCommentSection comments="@comments" onDeleteComment="HandleCommentDeleted" />
            </div>
        }
    </div>

    <div class="row">
        <AddComment blogId="@id" OnCommentAdded="HandleCommentAdded" />
    </div>
</div>

@code {

    [Parameter]
    public int id { get; set; }
    private Blog blog { get; set; }

    private ICollection<Comment> comments { get; set; }

    protected override async Task OnInitializedAsync()
    {
        blog = await BlogService.GetBlogAsync(id);

        if (blog.Comments is not null)
        {
            comments = blog.Comments;
        }
    }

    private async Task HandleCommentAdded()
    {
        blog = await BlogService.GetBlogAsync(id);

        comments = blog.Comments;

    }

    private async Task HandleCommentDeleted()
    {
        blog = await BlogService.GetBlogAsync(id);

        comments = blog.Comments;

    }

    private void HandleBlogDeleted()
    {
        NavigationManager.NavigateTo("/");
    }
}