@page "/blog/create"

<h3>Create Blog</h3>

<div class="container">
    <div class="form-group">
        <div class="col-sm">
            <div class="row">
                <label for="title" class="col-sm-2 col-form-label">Blog title</label>
                <input id="title" class="form-control" placeholder="Enter your blog title..." />
            </div>
            <div class="row">
                <label for="content" class="col-sm-2 col-form-label">Blog content</label>
                <textarea id="content" class="form-control" rows="10" placeholder="Begin writing your blog content...">
                </textarea>
            </div>
        </div>
        <div class="row mt-3">
            <div class="col">
                <button class="btn btn-primary">Create Blog</button>
            </div>
        </div>
    </div>
</div>


@code {

}
